<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" name="smd_spa">
	<Properties>
		<Property name="ambiente">${sys:BNDES.ambiente}</Property>
		<property name="filters">org.junit,org.apache.maven,sun.reflect,java.lang.reflect,com.ibm.ejs.container,com.ibm.ws,org.jboss.weld,org.apache.cxf.service.invoker,at org.apache.cxf.jaxrs,org.apache.cxf.interceptor, org.apache.cxf.phase, org.apache.cxf.transport,com.ibm.websphere,java.util.concurrent,org.apache.bval.cdi,org.apache.cxf.jaxrs,javax.servlet.http</property>
		<property name="basicfilters">org.junit,org.apache.maven,sun.reflect,java.lang.reflect,com.ibm.ejs.container,com.ibm.ws,org.jboss.weld, org.apache.cxf.service.invoker,org.apache.cxf.interceptor, com.ibm.websphere.jaxrs.server,org.apache.cxf.transport.http,org.apache.cxf.phase,org.apache.cxf.transport,org.apache.bval.cdi,org.apache.cxf.jaxrs,javax.servlet.http.HttpServlet,java.util.concurrent</property>
	</Properties>

	<Filter type="ThresholdFilter" level="trace" />

	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout
				pattern="[%20X{spring:spring.application.name}] %d [%20X{traceId}/%20X{spanId}] [%10X{user.loggedIn}] [%15X{user.ip}] %-50.50c{1} %-5level: %m [%xEx{filters(${basicfilters})}] %n"
				charset="UTF-8" />
			<Filters>
				<ThresholdFilter level="DEBUG" onMatch="ACCEPT"
					onMismatch="DENY" />
			</Filters>
		</Console>

		<!-- Appender 4: Syslog - mensagens de trilha de auditoria -->
		<!-- <Syslog name="SyslogAuditoria" host="syslog.example.net" appName="br.example.microservice"
			facility="LOCAL6" mdcId="mdc" includeMDC="true" newLine="true"
			messageId="Audit" id="br.example.microservice" format="RFC5424"
			protocol="UDP" port="514">
			<LoggerFields>
				<KeyValuePair key="thread" value="%t" />
				<KeyValuePair key="priority" value="%-5p" />
				<KeyValuePair key="category" value="%c" />
				<KeyValuePair key="exception" value="%ex" />
				<KeyValuePair key="ambiente" value="$${ambiente}" />
				<KeyValuePair key="message" value="%m%n%xEx" />
			</LoggerFields>
		</Syslog> -->

		<Async name="AsyncSTDOUT">
			<AppenderRef ref="STDOUT" />
		</Async>
	</Appenders>

	<Loggers>
		<Root level="info">
			<AppenderRef ref="AsyncSTDOUT" />
		</Root>
	</Loggers>
</Configuration>